[submodule "External/CMSIS_5"]
	path = Src/External/CMSIS_5
	url = https://github.com/ARM-software/CMSIS_5.git
[submodule "External/cmsis_device_f7"]
	path = Src/External/cmsis_device_f7
	url = https://github.com/STMicroelectronics/cmsis_device_f7.git
[submodule "External/Graphics"]
	path = Src/External/Graphics
	url = https://github.com/toddsharpe/Graphics.git
[submodule "External/printf"]
	path = Src/External/printf
	url = https://github.com/mpaland/printf.git
[submodule "Src/External/cmsis-device-f4"]
	path = Src/External/cmsis-device-f4
	url = https://github.com/STMicroelectronics/cmsis-device-f4.git
[submodule "Src/External/RTT"]
	path = Src/External/RTT
	url = https://github.com/SEGGERMicro/RTT.git
